第2章: UNIXコマンド

popular-names.txtは，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
#ファイルのダウンロード
!wget https://nlp100.github.io/data/popular-names.txt

--2023-03-14 13:39:09--  https://nlp100.github.io/data/popular-names.txt
nlp100.github.io (nlp100.github.io) をDNSに問いあわせています... 185.199.111.153, 185.199.110.153, 185.199.109.153, ...
nlp100.github.io (nlp100.github.io)|185.199.111.153|:443 に接続しています... 接続しました。
HTTP による接続要求を送信しました、応答を待っています... 200 OK
長さ: 55026 (54K) [text/plain]
`popular-names.txt' に保存中

popular-names.txt   100%[===================>]  53.74K  --.-KB/s 時間 0.03s

2023-03-14 13:39:10 (1.62 MB/s) - `popular-names.txt' へ保存完了 [55026/55026]

#10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ

In [9]:
def line_count(txt_file):
    with open(txt_file) as f:
        c = 0
        for line in f:
            c += 1
        return c

#実装
txt_file = 'popular-names.txt'
line_count(txt_file)

2780

In [8]:
!wc popular-names.txt

    2780   11120   55026 popular-names.txt

#11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [14]:
txt_file = 'data/popular-names.txt'
with open(txt_file) as f:
    for i, line in enumerate(f):
        line = line.replace('\t', ' ')
        print(line.rstrip())
        if i == 10:
            break

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
John M 9655 1880

In [23]:
!sed -e s/$\t/\/g data/popular-names.txt |head

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880
sed: stdout: Broken pipe

#12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [24]:
with open('work/col1.txt', 'w') as f1, open('work/col2.txt', 'w') as f2:
    for line in open('data/popular-names.txt'):
        line  = line.rstrip().split('\t')
        f1.write(line[0] + "\n")
        f2.write(line[1]  + "\n")

In [27]:
!head work/col2.txt

F
F
F
F
F
F
F
F
F
F

In [26]:
!cut -f 2 data/popular-names.txt | head

F
F
F
F
F
F
F
F
F
F

In [25]:
!cut -f 1 data/popular-names.txt | head

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

#13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [41]:
with open('work/m.txt', 'w') as f, open('work/col1.txt') as col1, open('work/col2.txt') as col2:
    for name, gender in zip(col1, col2):
        f.write(f'{name.rstrip()}\t{gender.rstrip()}\n')

In [43]:
!head work/m.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [44]:
!paste work/col1.txt work/col2.txt | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

#14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [48]:
#任意の自然数を受け取り、そのぶんの行を出力する関数
def head_print(n, file_Name):
    with open(file_Name) as f:
        for i, line in enumerate(f):
            if i < n:
                print(line.rstrip())
            else:
                break

In [50]:
head_print(10, 'work/m.txt')

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [ ]:
!head work/m.txt

#15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ

In [17]:
!cat srcs/tail.py

import sys
from collections import deque

num = int(sys.argv[1])
file = sys.argv[2]

with open(file, 'r') as f:
    for line in deque(f, num):
        print(line, end = '')

In [8]:
!python srcs/tail.py 5 data/popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [9]:
!tail -n 5 data/popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

#16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [19]:
!cat srcs/split.py

import sys
part_num = int(sys.argv[1])
file = sys.argv[2]

import math

with open(file) as f:
    txt_list = f.readlines()
    start = 0
    #make a division_num
    devision_num = math.ceil(len(txt_list) / part_num)
    for _ in range(part_num):
       print(txt_list[start:start + devision_num], \
       len(txt_list[start:start + devision_num]),\
       len(txt_list))
       start += devision_num

In [18]:
!python srcs/split.py 11 work/col1.txt | head -1

['Mary\n', 'Anna\n', 'Emma\n', 'Elizabeth\n', 'Minnie\n', 'Margaret\n', 'Ida\n', 'Alice\n', 'Bertha\n', 'Sarah\n', 'John\n', 'William\n', 'James\n', 'Charles\n', 'George\n', 'Frank\n', 'Joseph\n', 'Thomas\n', 'Henry\n', 'Robert\n', 'Mary\n', 'Anna\n', 'Emma\n', 'Elizabeth\n', 'Margaret\n', 'Minnie\n', 'Ida\n', 'Annie\n', 'Bertha\n', 'Alice\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Henry\n', 'Thomas\n', 'Edward\n', 'Mary\n', 'Anna\n', 'Emma\n', 'Elizabeth\n', 'Minnie\n', 'Margaret\n', 'Ida\n', 'Alice\n', 'Bertha\n', 'Annie\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Thomas\n', 'Henry\n', 'Robert\n', 'Mary\n', 'Anna\n', 'Emma\n', 'Elizabeth\n', 'Minnie\n', 'Margaret\n', 'Bertha\n', 'Ida\n', 'Annie\n', 'Clara\n', 'John\n', 'William\n', 'James\n', 'Charles\n', 'George\n', 'Frank\n', 'Joseph\n', 'Henry\n', 'Robert\n', 'Thomas\n', 'Mary\n', 'Anna\n', 'Emma\n', 'Elizabeth\n', 'Minnie\n', 'Margaret\n', 'Ida\n', 'Clara\n', 'Bertha\n', 'Annie\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Thomas\n', 'Henry\n', 'Robert\n', 'Mary\n', 'Anna\n', 'Emma\n', 'Elizabeth\n', 'Margaret\n', 'Minnie\n', 'Clara\n', 'Bertha\n', 'Ida\n', 'Annie\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Henry\n', 'Robert\n', 'Thomas\n', 'Mary\n', 'Anna\n', 'Emma\n', 'Elizabeth\n', 'Minnie\n', 'Margaret\n', 'Ida\n', 'Bertha\n', 'Clara\n', 'Florence\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Robert\n', 'Henry\n', 'Thomas\n', 'Mary\n', 'Anna\n', 'Elizabeth\n', 'Emma\n', 'Margaret\n', 'Minnie\n', 'Bertha\n', 'Clara\n', 'Florence\n', 'Ida\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Henry\n', 'Thomas\n', 'Edward\n', 'Mary\n', 'Anna\n', 'Elizabeth\n', 'Emma\n', 'Margaret\n', 'Minnie\n', 'Bertha\n', 'Florence\n', 'Ethel\n', 'Bessie\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Robert\n', 'Harry\n', 'Henry\n', 'Mary\n', 'Anna\n', 'Elizabeth\n', 'Margaret\n', 'Emma\n', 'Minnie\n', 'Florence\n', 'Ethel\n', 'Bessie\n', 'Clara\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Harry\n', 'Robert\n', 'Edward\n', 'Mary\n', 'Anna\n', 'Elizabeth\n', 'Margaret\n', 'Emma\n', 'Florence\n', 'Ethel\n', 'Minnie\n', 'Clara\n', 'Bertha\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Robert\n', 'Henry\n', 'Harry\n', 'Mary\n', 'Anna\n', 'Margaret\n', 'Elizabeth\n', 'Emma\n', 'Florence\n', 'Ethel\n', 'Minnie\n', 'Helen\n', 'Bertha\n', 'John\n', 'William\n', 'James\n', 'George\n', 'Charles\n', 'Frank\n', 'Joseph\n', 'Robert\n', 'Harry\n', 'Henry\n', 'Mary\n', 'Anna\n', 'Elizabeth\n', 'Margaret\n', 'Ruth\n', 'Florence\n', 'Emma\n', 'Ethel\n', 'Helen\n', 'Clara\n', 'John\n', 'William\n', 'James\n'] 253 2780

In [20]:
#!split -n 5 "col1.txt" 
#このコマンドで一気に何個もファイルができる。分割はしっかりされている
#split （分割するファイル数）、対象ファイル

#17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [13]:
name_set = set()
with open('data/popular-names.txt') as f:
    for line in f:
        name = line.split()[0]
        name_set.add(name)
        
print(name_set)
print(len(name_set))

{'Clara', 'Virginia', 'Nancy', 'Lucas', 'Steven', 'Larry', 'Lori', 'Julie', 'Mary', 'Florence', 'Ashley', 'Noah', 'Ronald', 'Susan', 'Stephanie', 'Linda', 'Rebecca', 'Olivia', 'Jennifer', 'Robert', 'Brittany', 'Emily', 'Nicole', 'Lauren', 'Harry', 'Frances', 'Crystal', 'Betty', 'Tracy', 'Amy', 'Ruth', 'Kelly', 'Madison', 'Elijah', 'Kimberly', 'Jayden', 'Jeffrey', 'Sophia', 'Laura', 'Jason', 'Amelia', 'Joshua', 'Charlotte', 'Thomas', 'Samantha', 'Rachel', 'Judith', 'Karen', 'Mason', 'Nicholas', 'Angela', 'Michelle', 'Edward', 'Ida', 'Carol', 'Doris', 'Charles', 'Michael', 'Cynthia', 'Harper', 'Elizabeth', 'Joan', 'Anna', 'Donna', 'Marie', 'Liam', 'Sarah', 'Matthew', 'Chloe', 'Dorothy', 'Gary', 'Pamela', 'Jacob', 'Amanda', 'Shirley', 'Margaret', 'Bertha', 'Evelyn', 'Melissa', 'James', 'Kathleen', 'Benjamin', 'Alice', 'David', 'George', 'Mildred', 'Walter', 'Lillian', 'Patricia', 'Scott', 'William', 'Brandon', 'Hannah', 'Jessica', 'Donald', 'Oliver', 'Carolyn', 'Joseph', 'Tammy', 'Richard', 'Debra', 'Deborah', 'John', 'Helen', 'Ava', 'Barbara', 'Tyler', 'Frank', 'Sharon', 'Austin', 'Lisa', 'Ethan', 'Justin', 'Aiden', 'Mia', 'Megan', 'Andrew', 'Isabella', 'Annie', 'Anthony', 'Minnie', 'Sandra', 'Mark', 'Henry', 'Alexander', 'Heather', 'Ethel', 'Christopher', 'Alexis', 'Logan', 'Emma', 'Abigail', 'Daniel', 'Bessie', 'Taylor', 'Brian'}
136

In [16]:
!cut -f 1 data/popular-names.txt | sort -u | head -10

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

#18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [33]:
with open ('data/popular-names.txt') as fi ,open('work/ans_q18.txt' , 'w') as fo:
    persons_list = []
    for line in fi:
        new_line = line.split()
        persons_list.append(new_line)#二次元配列の作成
    reverse_sort_list = sorted(persons_list,reverse=True, key = lambda x:int(x[2]))
    
    for data in reverse_sort_list:
        fo.write('\t'.join(data) + '\n')

In [34]:
!head work/ans_q18.txt

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

In [41]:
!sort -k 3 -r -n data/popular-names.txt | head

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
sort: Broken pipe

#19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [43]:
import collections
with open("data/popular-names.txt") as f:
    name_list = []
    for line in f:
        name_list.append(line.split()[0])
    name_counter = collections.Counter(name_list)#collections.Counter()は dictを返す
    print(name_counter.most_common(10))#上位１０個のみ出力してみる

[('James', 118), ('William', 111), ('John', 108), ('Robert', 108), ('Mary', 92), ('Charles', 75), ('Michael', 74), ('Elizabeth', 73), ('Joseph', 70), ('Margaret', 60)]

In [57]:
!cut -f1 data/popular-names.txt | sort | uniq -c | sort -r | head

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret

In [46]:
#答えを見て
!cut -f1 data/popular-names.txt | sort | uniq -c | sort -bnrk1 | head

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret